{% extends "base.html.twig" %}

{% block javascripts %}
<script src="{{ asset('js/app.js') }}" type="module" defer></script>
{% endblock %}

{% block body %}

<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" style="max-width: 70rem; margin-top:60px; margin-left:400px; width:1000px">
  <div class="toast-header">
    <strong class="me-auto">Maître du jeu</strong>
  
  </div>
  <div class="toast-body">
  <p>
    <h4 class="text-warning" style="text-align: justify"> Bienvenue dans le monde de ADWorld. Des aventures uniques et personnalisées vous attendent. Ici vous pourrez participer aux aventures déjà écrites mais également créer les vôtres
    </h4>
  </p>
  </div>
</div>


{% endblock %}